<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible'>
    <title>Node JS </title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    
    <link rel = 'stylesheet' type='text/css' media='screen' href='/css/bootstrap.css'>
    <link rel = 'stylesheet' type='text/css' href="/style.css">
    
</head>
<body>
    
    <form method="POST">
        <h1 class="display-3">Authentification</h1>
        <label> Email
            <input name="email" class="form-control" placeholder="ex: exemple@exemple.com" aria-label="Recipient's username" aria-describedby="basic-addon2" type="email" id="mail" class="input-group flex-nowrap">

        </label><br>
        
        <label> Mot de passe 
            <input name="mdp" class="form-control" placeholder="Mot de passe ... " aria-label="Recipient's username" aria-describedby="basic-addon2" type="password" id="mdp">        
        </label><br>
       <!-- <label> Message 
            <textarea class="form-control" placeholder="Ecrivez ici ...  " aria-label="Recipient's username" aria-describedby="basic-addon2" type="textarea" id="texte" > </textarea>       
        </label><br>-->
        <input type="submit" id="bouton" class="btn btn-primary">
    </form>
</body>
</html>